<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "All articles", articles_path %> |
  <%= link_to "Home page", root_path %>
  
  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
